## Estrutura do conteúdo dos datasets

### Dataset KT1
Leitura do primeiro arquivo como exemplo

In [1]:
import pandas as pd

# Substitua 'nome_do_arquivo.csv' pelo nome do seu arquivo
caminho_arquivo = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1\u5.csv'
df = pd.read_csv(caminho_arquivo)

# Exibe as primeiras linhas do DataFrame para verificar o carregamento
print(df.head())

       timestamp  solving_id question_id user_answer  elapsed_time
0  1546437487910           1       q5956           c         50000
1  1546437515076           2       q1114           b         23000
2  1546437532942           3        q784           b         16000
3  1546437556636           4       q5627           a         21000
4  1546437605933           5       q5055           b         47000

**Observação:** o dataset todo foi carregado uma vez, porém demorando horas. O código abaixo demonstra a quantidade de TODOS os dados carregados do dataset KT1

In [5]:
df_combinado

              timestamp  solving_id question_id user_answer  elapsed_time
0         1549164018798           1       q8679           a         32000
1         1549164148762           2        q417           a         23000
2         1549164183149           3       q6446           c         31000
3         1549164209425           4        q190           c         23000
4         1549164221679           5       q5384           a          9000
...                 ...         ...         ...         ...           ...
32586411  1515887021543          15       q6952           a         29500
32586412  1515887186138          16       q7335           b         40750
32586413  1515887186816          16       q7336           d         40750
32586414  1515887187327          16       q7337           b         40750
32586415  1515887187772          16       q7338           c         40750

[32586416 rows x 5 columns]

### Considerando parte da base KT1
O dataset EdNet-KT1 possui **268.683 usuários/arquivos**, neste caso, serão considerados os **1000 usuários**.

In [11]:
import pandas as pd
import glob
import os

# Defina o caminho da pasta onde estão os arquivos CSV
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1'
caminho_arquivos = os.path.join(caminho_pasta, '*.csv')

# Use glob para encontrar todos os arquivos CSV na pasta
arquivos_csv = glob.glob(caminho_arquivos)

# Ordenar os arquivos pelo tamanho (do maior para o menor)
#arquivos_csv = sorted(arquivos_csv, key=os.path.getsize, reverse=True)
##### Esta estratégia deixou a execução muito demorada

# Limite para os 1000 primeiros arquivos
arquivos_csv = arquivos_csv[:1000]

# Crie uma lista para armazenar os DataFrames
dataframes = []

# Carregue cada arquivo CSV e adicione o DataFrame à lista
for arquivo in arquivos_csv:
    # Lê o arquivo CSV
    df = pd.read_csv(arquivo)
    
    # Adiciona uma coluna com o nome do arquivo (sem o caminho completo)
    df['codigo_arquivo'] = os.path.basename(arquivo)
    
    # Adiciona o DataFrame à lista
    dataframes.append(df)

# Opcional: Combine todos os DataFrames em um único DataFrame (caso tenham o mesmo formato)
kt1 = pd.concat(dataframes, ignore_index=True)

# Exibe as primeiras linhas do DataFrame combinado para verificar
print(kt1.head())

       timestamp  solving_id question_id user_answer  elapsed_time  \
0  1549164018798           1       q8679           a         32000
1  1549164148762           2        q417           a         23000
2  1549164183149           3       q6446           c         31000
3  1549164209425           4        q190           c         23000
4  1549164221679           5       q5384           a          9000

  codigo_arquivo
0      u1000.csv
1      u1000.csv
2      u1000.csv
3      u1000.csv
4      u1000.csv

In [17]:
dimensao_kt1 = kt1.shape 
print("Dimensão do dataset KT1 é ", dimensao_kt1[0], " linhas e ", dimensao_kt1[1], " colunas.")

Dimensão do dataset KT1 é  294486  linhas e  6  colunas.

In [19]:
# Criar uma nova coluna com o identificador do usuário, removendo o ".csv"
kt1['usuario'] = kt1['codigo_arquivo'].str.replace('.csv', '', regex=False)
kt1.head()

,timestamp,solving_id,question_id,user_answer,elapsed_time,codigo_arquivo,usuario
0,1549164018798,1,q8679,a,32000,u1000.csv,u1000
1,1549164148762,2,q417,a,23000,u1000.csv,u1000
2,1549164183149,3,q6446,c,31000,u1000.csv,u1000
3,1549164209425,4,q190,c,23000,u1000.csv,u1000
4,1549164221679,5,q5384,a,9000,u1000.csv,u1000

In [53]:
kt1_usuarios = kt1['usuario'].unique()
kt1_usuarios

array(['u1000', 'u10000', 'u100003', 'u100005', 'u100007', 'u100008',
       'u10001', 'u100012', 'u100013', 'u100014', 'u100016', 'u100018',
       'u100021', 'u100024', 'u100025', 'u100026', 'u100027', 'u100032',
       'u100035', 'u100038', 'u10004', 'u100040', 'u100044', 'u100045',
       'u100047', 'u100049', 'u10005', 'u100050', 'u100051', 'u100056',
       'u100057', 'u100058', 'u100059', 'u100064', 'u100067', 'u10007',
       'u100070', 'u100071', 'u100072', 'u100078', 'u100079', 'u100080',
       'u100082', 'u100083', 'u100086', 'u100093', 'u100094', 'u100095',
       'u100096', 'u100097', 'u100098', 'u100103', 'u100107', 'u100110',
       'u100111', 'u100116', 'u100122', 'u100123', 'u100124', 'u100131',
       'u100133', 'u100134', 'u100138', 'u100144', 'u100145', 'u100149',
       'u100163', 'u100164', 'u100165', 'u100166', 'u100168', 'u100169',
       'u100171', 'u100174', 'u100178', 'u100179', 'u100188', 'u100194',
       'u100195', 'u100197', 'u1002', 'u10020', 'u100201', 'u100208',
       'u100211', 'u100213', 'u100214', 'u100215', 'u100219', 'u100222',
       'u100224', 'u100225', 'u100228', 'u10023', 'u100230', 'u100235',
       'u100243', 'u100244', 'u100245', 'u10025', 'u100250', 'u100253',
       'u100255', 'u100257', 'u100258', 'u100264', 'u100270', 'u100274',
       'u10028', 'u100280', 'u100281', 'u100291', 'u100294', 'u100295',
       'u100296', 'u100298', 'u100301', 'u100302', 'u100306', 'u100308',
       'u100310', 'u100316', 'u100322', 'u100324', 'u100325', 'u100327',
       'u100329', 'u100332', 'u100334', 'u100341', 'u100344', 'u100350',
       'u100351', 'u100361', 'u100366', 'u10037', 'u100370', 'u100372',
       'u100373', 'u100378', 'u100382', 'u100385', 'u100387', 'u100389',
       'u10039', 'u100394', 'u100396', 'u100397', 'u100400', 'u100408',
       'u10041', 'u100416', 'u100421', 'u100424', 'u100427', 'u100428',
       'u100435', 'u100437', 'u100444', 'u100450', 'u100452', 'u100453',
       'u100455', 'u100458', 'u10046', 'u100462', 'u100470', 'u100471',
       'u100473', 'u100475', 'u100476', 'u100477', 'u100478', 'u100483',
       'u100489', 'u100491', 'u100492', 'u100493', 'u100496', 'u100501',
       'u100503', 'u100504', 'u100505', 'u100506', 'u100508', 'u100511',
       'u100515', 'u100517', 'u100525', 'u100529', 'u100530', 'u100531',
       'u100534', 'u100535', 'u100537', 'u100543', 'u100544', 'u100545',
       'u100548', 'u10055', 'u100551', 'u100552', 'u100556', 'u10056',
       'u100561', 'u100562', 'u100563', 'u100565', 'u100570', 'u100574',
       'u10058', 'u100580', 'u100583', 'u100587', 'u100589', 'u10059',
       'u100593', 'u100595', 'u100597', 'u100598', 'u10060', 'u100608',
       'u100610', 'u100611', 'u100612', 'u100616', 'u100618', 'u100620',
       'u100621', 'u100624', 'u100629', 'u100637', 'u100639', 'u100643',
       'u10065', 'u100650', 'u100651', 'u100653', 'u100654', 'u100655',
       'u100657', 'u10066', 'u100662', 'u100667', 'u100669', 'u10067',
       'u100675', 'u10068', 'u100680', 'u100687', 'u100693', 'u1007',
       'u100701', 'u100703', 'u100705', 'u100710', 'u100712', 'u100713',
       'u100717', 'u100718', 'u10072', 'u100720', 'u100724', 'u100725',
       'u100729', 'u100730', 'u100733', 'u100738', 'u100743', 'u100745',
       'u100748', 'u100749', 'u100750', 'u100751', 'u100758', 'u100759',
       'u100766', 'u100771', 'u100779', 'u100787', 'u100788', 'u100792',
       'u100795', 'u100796', 'u100797', 'u1008', 'u100804', 'u100805',
       'u10081', 'u100811', 'u100812', 'u100816', 'u100817', 'u10082',
       'u100825', 'u100829', 'u10083', 'u100830', 'u100831', 'u100837',
       'u100838', 'u100840', 'u100841', 'u100842', 'u100845', 'u100848',
       'u10085', 'u100850', 'u100851', 'u100852', 'u100853', 'u100857',
       'u100858', 'u100859', 'u10086', 'u100862', 'u100864', 'u100865',
       'u100866', 'u100867', 'u100871', 'u100873', 'u100875', 'u100876',
       'u100880', 'u100885', 'u100887', 'u100895', 'u100898', 'u100901',
       'u100904', 'u10091', 'u100911', 'u100913', 'u10092', 'u100920',
       'u100922', 'u100923', 'u100924', 'u100929', 'u100931', 'u100934',
       'u100936', 'u100938', 'u100939', 'u10094', 'u100940', 'u100942',
       'u100943', 'u100945', 'u100946', 'u100947', 'u10095', 'u100952',
       'u100954', 'u100956', 'u100958', 'u100962', 'u100965', 'u100966',
       'u100967', 'u100968', 'u10097', 'u100971', 'u100973', 'u100975',
       'u100978', 'u100979', 'u100980', 'u100984', 'u100987', 'u100988',
       'u100989', 'u100994', 'u100997', 'u100998', 'u1010', 'u101001',
       'u101002', 'u101006', 'u101009', 'u101016', 'u101017', 'u101018',
       'u101019', 'u101021', 'u101022', 'u101027', 'u101030', 'u101031',
       'u101038', 'u10104', 'u101045', 'u101046', 'u101049', 'u10105',
       'u101055', 'u101056', 'u101060', 'u101064', 'u101068', 'u10107',
       'u101071', 'u101072', 'u101074', 'u101076', 'u101077', 'u10108',
       'u101082', 'u101083', 'u101085', 'u101086', 'u101087', 'u101095',
       'u101100', 'u101112', 'u101114', 'u101115', 'u101116', 'u101117',
       'u101118', 'u10112', 'u101122', 'u101124', 'u101127', 'u101128',
       'u101130', 'u101132', 'u10114', 'u101146', 'u101148', 'u101150',
       'u101151', 'u101153', 'u101156', 'u101158', 'u10116', 'u101161',
       'u101163', 'u101165', 'u101166', 'u101174', 'u101175', 'u101182',
       'u101184', 'u101187', 'u101189', 'u101190', 'u101192', 'u101193',
       'u101194', 'u101195', 'u101196', 'u101201', 'u101202', 'u101209',
       'u10121', 'u101213', 'u101218', 'u101219', 'u101223', 'u101226',
       'u101229', 'u101232', 'u101236', 'u101238', 'u101239', 'u10124',
       'u101241', 'u101242', 'u101245', 'u101252', 'u101253', 'u101254',
       'u101255', 'u101256', 'u101257', 'u101258', 'u101262', 'u101264',
       'u101265', 'u101266', 'u101267', 'u101268', 'u101269', 'u101271',
       'u101274', 'u101276', 'u101279', 'u10128', 'u101280', 'u101281',
       'u101283', 'u101286', 'u101287', 'u10129', 'u101291', 'u101293',
       'u101294', 'u1013', 'u101301', 'u101306', 'u101309', 'u10131',
       'u101311', 'u101314', 'u101316', 'u10132', 'u101320', 'u101322',
       'u101324', 'u101325', 'u10133', 'u101331', 'u101333', 'u101335',
       'u10134', 'u101341', 'u101348', 'u101349', 'u101352', 'u101354',
       'u101355', 'u101365', 'u101368', 'u101369', 'u101374', 'u101377',
       'u101381', 'u101383', 'u101384', 'u101389', 'u101394', 'u101399',
       'u101404', 'u101406', 'u101407', 'u101408', 'u101409', 'u10141',
       'u101410', 'u101412', 'u101415', 'u101419', 'u101422', 'u101428',
       'u101434', 'u101436', 'u10144', 'u101446', 'u101447', 'u101448',
       'u101450', 'u101451', 'u101454', 'u101455', 'u101458', 'u101465',
       'u101469', 'u101470', 'u101471', 'u101472', 'u101473', 'u101474',
       'u101476', 'u101477', 'u101480', 'u101481', 'u101482', 'u101484',
       'u101489', 'u101495', 'u1015', 'u101508', 'u101510', 'u101516',
       'u101518', 'u10152', 'u101523', 'u101527', 'u10153', 'u101530',
       'u10154', 'u101541', 'u101548', 'u10155', 'u101552', 'u101554',
       'u101555', 'u101558', 'u101559', 'u10156', 'u101560', 'u101563',
       'u101564', 'u101565', 'u101571', 'u101572', 'u101575', 'u101576',
       'u101577', 'u10158', 'u101581', 'u101583', 'u101584', 'u101586',
       'u101587', 'u101590', 'u101597', 'u101599', 'u101601', 'u101602',
       'u101607', 'u10161', 'u101615', 'u101618', 'u101619', 'u10162',
       'u101620', 'u101621', 'u101622', 'u101623', 'u101627', 'u101631',
       'u101633', 'u101635', 'u101640', 'u101645', 'u101651', 'u101653',
       'u101654', 'u101657', 'u101658', 'u101662', 'u101663', 'u101664',
       'u101665', 'u101666', 'u101669', 'u101670', 'u101671', 'u101673',
       'u101681', 'u101684', 'u101685', 'u101686', 'u101687', 'u101691',
       'u101695', 'u101698', 'u101699', 'u1017', 'u101700', 'u101703',
       'u101704', 'u101709', 'u101712', 'u101717', 'u101723', 'u101729',
       'u101732', 'u101733', 'u101738', 'u101740', 'u101744', 'u101746',
       'u10175', 'u101752', 'u10176', 'u101760', 'u101762', 'u101765',
       'u101767', 'u101769', 'u10177', 'u101774', 'u101776', 'u101778',
       'u101779', 'u101785', 'u101786', 'u101788', 'u10179', 'u101791',
       'u101793', 'u101794', 'u101796', 'u101797', 'u1018', 'u10180',
       'u101808', 'u101809', 'u101812', 'u101813', 'u101818', 'u101820',
       'u101822', 'u101823', 'u101827', 'u101829', 'u10183', 'u101833',
       'u101837', 'u101840', 'u101841', 'u101842', 'u101844', 'u101846',
       'u101847', 'u101849', 'u10185', 'u101851', 'u101854', 'u101856',
       'u10186', 'u101862', 'u101863', 'u101864', 'u101868', 'u10187',
       'u101871', 'u101877', 'u101878', 'u101881', 'u101882', 'u101883',
       'u101884', 'u101885', 'u101888', 'u10189', 'u101891', 'u101895',
       'u101896', 'u10190', 'u101900', 'u101905', 'u101917', 'u101920',
       'u101922', 'u101923', 'u101924', 'u101926', 'u101927', 'u101928',
       'u10193', 'u101932', 'u101936', 'u101938', 'u101943', 'u101944',
       'u101945', 'u101946', 'u10195', 'u101951', 'u101952', 'u101953',
       'u101954', 'u101955', 'u101957', 'u101968', 'u10197', 'u101977',
       'u101981', 'u101985', 'u101990', 'u101991', 'u101993', 'u101995',
       'u101998', 'u102004', 'u102006', 'u102007', 'u102009', 'u102011',
       'u102013', 'u102014', 'u102016', 'u102020', 'u102023', 'u102028',
       'u102035', 'u102043', 'u102048', 'u102049', 'u102051', 'u102052',
       'u102057', 'u102059', 'u102065', 'u102067', 'u10207', 'u102071',
       'u102075', 'u102077', 'u102079', 'u102082', 'u102086', 'u102088',
       'u102089', 'u10209', 'u102090', 'u102091', 'u102098', 'u10210',
       'u102107', 'u102108', 'u102110', 'u102115', 'u102116', 'u102118',
       'u102119', 'u102122', 'u102123', 'u102124', 'u102125', 'u102126',
       'u102132', 'u102137', 'u102140', 'u102141', 'u102142', 'u102147',
       'u102148', 'u102151', 'u102153', 'u102158', 'u102162', 'u102165',
       'u10217', 'u102172', 'u102173', 'u102183', 'u102185', 'u102187',
       'u102190', 'u102192', 'u102193', 'u102194', 'u102201', 'u102205',
       'u102206', 'u102207', 'u102208', 'u102209', 'u102211', 'u102213',
       'u102219', 'u10222', 'u102220', 'u102228', 'u102229', 'u102230',
       'u102232', 'u102234', 'u102240', 'u102245', 'u102246', 'u102248',
       'u102250', 'u102258', 'u102261', 'u102267', 'u102270', 'u102271',
       'u102279', 'u102281', 'u102282', 'u102283', 'u10229', 'u102290',
       'u102292', 'u102294', 'u102296', 'u102297', 'u1023', 'u102304',
       'u102305', 'u102306', 'u102307', 'u102313', 'u102315', 'u102317',
       'u102318', 'u10232', 'u102326', 'u102330', 'u102332', 'u102334',
       'u102337', 'u102339', 'u10234', 'u102351', 'u102352', 'u102353',
       'u102356', 'u102360', 'u102364', 'u102372', 'u102376', 'u102378',
       'u102384', 'u102385', 'u102388', 'u102389', 'u102392', 'u102394',
       'u102396', 'u102397', 'u10240', 'u102400', 'u102403', 'u102405',
       'u102409', 'u102410', 'u102411', 'u102413', 'u102414', 'u102415',
       'u102416', 'u102421', 'u102422', 'u102424', 'u102426', 'u102428',
       'u102433', 'u102434', 'u102436', 'u102439', 'u10244', 'u102442',
       'u102443', 'u102444', 'u102450', 'u102456', 'u102464', 'u102467',
       'u10247', 'u102470', 'u102475', 'u10248', 'u102481', 'u102482',
       'u102486', 'u102489', 'u10249', 'u102491', 'u102494', 'u102498',
       'u1025', 'u10250', 'u102501', 'u102504', 'u102510', 'u102511',
       'u102514', 'u102518', 'u10252', 'u102520', 'u102523', 'u102524',
       'u102528', 'u102530', 'u102532', 'u102535', 'u102536', 'u102537',
       'u102538', 'u102540', 'u102541', 'u102546', 'u10255', 'u102550',
       'u102554', 'u102556', 'u102558', 'u102564', 'u102568', 'u102574',
       'u10258', 'u102582', 'u102583', 'u102585', 'u102587', 'u10259',
       'u102591', 'u102600', 'u102609', 'u102612', 'u102613', 'u10262',
       'u102622', 'u102625', 'u102626', 'u102629', 'u102630', 'u102633',
       'u102635', 'u10264', 'u102643', 'u102645'], dtype=object)

### Carregando os dados correspondentes dos usuários no dataset KT2

In [70]:
import pandas as pd
import os

# Crie uma lista para armazenar os DataFrames
dataframes_kt2= []

# Caminho da pasta onde estão os arquivos
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT2\KT2'

# Iterar sobre os nomes na coluna 'usuario'
for usuario in kt1_usuarios:
    # Monta o nome completo do arquivo (adiciona o sufixo ".csv")
    nome_arquivo = f"{usuario}.csv"
    caminho_arquivo = os.path.join(caminho_pasta, nome_arquivo)
    
    # Verifica se o arquivo existe na pasta
    if os.path.exists(caminho_arquivo):
        # Lê o arquivo e adiciona a coluna com o nome do arquivo
        temp_df = pd.read_csv(caminho_arquivo)
        temp_df['codigo_arquivo'] = nome_arquivo  # Adiciona a coluna com o nome do arquivo
        # Adiciona uma coluna com o nome do arquivo (sem o caminho completo)
        # Adiciona o DataFrame à lista
        dataframes_kt2.append(temp_df)
    #else:
        #print("Arquivo ", usuario, " não existe!")
kt2 = pd.concat(dataframes_kt2, ignore_index=True)

In [72]:
kt2.head()

,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo
0,1553926598324,enter,b4192,diagnosis,NaN,web,u10020.csv
1,1553926607528,respond,q5660,diagnosis,b,web,u10020.csv
2,1553926608265,submit,b4192,diagnosis,NaN,web,u10020.csv
3,1553926610387,enter,b4932,diagnosis,NaN,web,u10020.csv
4,1553926617876,respond,q6400,diagnosis,b,web,u10020.csv

In [74]:
dimensao_kt2 = kt2.shape 
print("Dimensão do dataset KT2 é ", dimensao_kt2[0], " linhas e ", dimensao_kt2[1], " colunas.")

Dimensão do dataset KT2 é  28999  linhas e  7  colunas.

In [76]:
# Criar uma nova coluna com o identificador do usuário, removendo o ".csv"
kt2['usuario'] = kt2['codigo_arquivo'].str.replace('.csv', '', regex=False)
kt2.head()

,timestamp,action_type,item_id,source,user_answer,platform,codigo_arquivo,usuario
0,1553926598324,enter,b4192,diagnosis,NaN,web,u10020.csv,u10020
1,1553926607528,respond,q5660,diagnosis,b,web,u10020.csv,u10020
2,1553926608265,submit,b4192,diagnosis,NaN,web,u10020.csv,u10020
3,1553926610387,enter,b4932,diagnosis,NaN,web,u10020.csv,u10020
4,1553926617876,respond,q6400,diagnosis,b,web,u10020.csv,u10020

In [78]:
len(kt2['usuario'].unique())

27

In [80]:
kt2['usuario'].unique()

array(['u10020', 'u10037', 'u10046', 'u10056', 'u1008', 'u10082',
       'u10085', 'u10086', 'u10094', 'u10097', 'u10132', 'u10134',
       'u10141', 'u10153', 'u10155', 'u10156', 'u10179', 'u1018',
       'u10180', 'u10183', 'u10209', 'u102122', 'u10232', 'u10240',
       'u10250', 'u10252', 'u10255'], dtype=object)

In [ ]:
https://chatgpt.com/c/66f32c28-4014-8003-abe8-f36633188138

In [26]:
import pandas as pd

user = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-KT1/KT1/u5.csv')
user.head()

       timestamp  solving_id question_id user_answer  elapsed_time
0  1546437487910           1       q5956           c         50000
1  1546437515076           2       q1114           b         23000
2  1546437532942           3        q784           b         16000
3  1546437556636           4       q5627           a         21000
4  1546437605933           5       q5055           b         47000

In [28]:
import pandas as pd
import glob
import os

# Defina o caminho da pasta onde estão os arquivos CSV
caminho_pasta = r'D:\Doutorado\USP\SCC5966 - Recomendaçao\Projeto\dataset\EdNet-KT1\KT1'
caminho_arquivos = os.path.join(caminho_pasta, '*.csv')

# Use glob para encontrar todos os arquivos CSV na pasta
arquivos_csv = glob.glob(caminho_arquivos)

# Ordenar os arquivos pelo tamanho (do maior para o menor)
arquivos_csv = sorted(arquivos_csv, key=os.path.getsize, reverse=True)

# Limite para os 10000 maiores arquivos
arquivos_csv = arquivos_csv[:10000]

# Crie uma lista para armazenar os DataFrames
dataframes = []

# Carregue cada arquivo CSV e adicione o DataFrame à lista
for arquivo in arquivos_csv:
    # Lê o arquivo CSV
    df = pd.read_csv(arquivo)
    
    # Adiciona uma coluna com o nome do arquivo (sem o caminho completo)
    df['codigo_arquivo'] = os.path.basename(arquivo)
    
    # Adiciona o DataFrame à lista
    dataframes.append(df)

# Opcional: Combine todos os DataFrames em um único DataFrame (caso tenham o mesmo formato)
kt1 = pd.concat(dataframes, ignore_index=True)

# Exibe as primeiras linhas do DataFrame combinado para verificar
print(kt1.head())

       timestamp  solving_id question_id user_answer  elapsed_time  \
0  1502403502087           1       q5759           a         30000
1  1502403545011           2       q5783           d         42000
2  1502403595590           3       q5410           c         49000
3  1502403715981           4       q6432           b        119000
4  1502403756496           5       q6482           a         39000

  codigo_arquivo
0     u23408.csv
1     u23408.csv
2     u23408.csv
3     u23408.csv
4     u23408.csv

### Dataset *contents*

In [8]:
import pandas as pd

coupons = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/coupons.csv')
coupons.head()

  coupon_id coupon_type     duration
0        c1      type-0   4320000000
1        c2      type-0   5184000000
2        c3      type-0   7776000000
3        c4      type-0   8640000000
4        c5      type-0  15552000000

In [10]:
import pandas as pd

lectures = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/lectures.csv')
lectures.head()

  lecture_id  part  tags  video_length    deployed_at
0       l520     5   142            -1             -1
1       l592     6   142            -1             -1
2      l1259     1   222        359000  1570424729123
3      l1260     1   220        487000  1570424738105
4      l1261     1   221        441000  1570424743162

In [12]:
import pandas as pd

payments = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/payments.csv')
payments.head()

  payment_item_id   type    duaration  number_of_questions
0              p1   pass   5184000000                   -1
1              p2   pass  15552000000                   -1
2              p3   pass  31536000000                   -1
3              p4  paygo           -1                 2000
4              p5   pass   5184000000                   -1

In [14]:
import pandas as pd

questions = pd.read_csv('D:/Doutorado/USP/SCC5966 - Recomendaçao/Projeto/dataset/EdNet-Contents/questions.csv')
questions.head()

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,q1,b1,e1,b,1,1;2;179;181,1558093217098
1,q2,b2,e2,a,1,15;2;182,1558093219720
2,q3,b3,e3,b,1,14;2;179;183,1558093222784
3,q4,b4,e4,b,1,9;2;179;184,1558093225357
4,q5,b5,e5,c,1,8;2;179;181,1558093228439

In [20]:
print("Total de registros de cada dataframe:")
print("Coupons: ",len(coupons))
print("Lectures: ", len(lectures))
print("Payments: ", len(payments))
print("Questions: ", len(questions))

Total de registros de cada dataframe:
Coupons:  91
Lectures:  1021
Payments:  190
Questions:  13169